.App {
  font-family: sans-serif;
}

.header {
  cursor: pointer;
  padding: 15px;
  background-color: skyblue;
}

.content {
  border: solid 1px skyblue;
  padding: 15px;
}

.panel {
  padding-bottom: 10px;
}
