.viewButton {
    color: blue;
}

.userContainer {
    margin-left: 300px;
    margin-right: 300px;
}

.topBar {
    border-top: 1px solid black;
}

.nameInput{

}

.locationInput {

}

.createContainer {
    margin-left: 300px;
}

.locationInput {
    width: 90%;
}

.nameInput {
    width: 90%;
}
