.container_boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.selectors {
  text-align: center;
}
.boxes {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 200px;
  height: 100px;
}

input {
  height: 20px;
  width: 100px;
}
